@model MiAmor.Core.Customer

<div class="tab-pane active" id="company-portfolio">

    <div class="company-portfolio">
        <h2 class="text-uppercase mb30">Our Portfolio</h2>

        <div class="sort-by">

            <select class="" data-placeholder="-sort by-">
                <option value="option1">Name</option>
                <option value="option2">Tupe</option>
                <option value="option3">Name</option>
                <option value="option4">Type</option>
            </select>

        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

            <div class="col-sm-4 col-xs-6">
                <div class="single-product">
                    <figure>
                        <img src="img/content/post-img-9.jpg" alt="">

                        <figcaption>
                            <div class="bookmark">
                                <a href="#"><i class="fa fa-bookmark-o"></i> Bookmark</a>
                            </div>

                            <div class="read-more">
                                <a href="#"><i class="fa fa-angle-right"></i> Read More</a>
                            </div>

                        </figcaption>
                    </figure>

                    <h4><a href="#">Project Name</a></h4>

                    <h5><a href="#">Category</a></h5>
                </div> <!-- end .single-product -->
            </div> <!-- end .grid-layout -->

        </div> <!-- end .row -->
    </div> <!-- end .company-portfolio -->
</div> <!-- end .tab-pane -->
