<h3>
    Form Validation
    <small>Native AngularJS input validation</small>
</h3>
<!-- START row-->
<div ng-controller="newEventPost" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="formValidate" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>{{'customForm.newEventPost'|translate}}</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.name'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-show="false" name="Id" required="" ng-model="eventPost.Id" class="form-control" value="{{eventPost.Id}}" />
                                    <input type="text" name="title" required="" ng-model="eventPost.title" class="form-control" value="{{eventPost.title}}" />
                                    <span ng-show="validateInput('title', 'required')" class="text-danger">{{'customForm.fieldRequired'|translate}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.required'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.body'|translate}}</label>
                                <div class="col-sm-6">
                                    <textarea rows="10" name="body" required="" ng-model="eventPost.body" value="{{eventPost.body}}" class="form-control note-editor note-editor-margin"></textarea>
                                    <span ng-show="validateInput('body', 'required')" class="text-danger">{{'customForm.fieldRequired'|translate}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.required'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.allowComments'|translate}}</label>
                                <div class="col-sm-6">
                                    <select name="allowComments" required="" ng-model="eventPost.allowComments" class="form-control">
                                        <option value="true">{{'customForm.yes'|translate}}</option>
                                        <option value="false">{{'customForm.no'|translate}}</option>
                                    </select>
                                    <span ng-show="validateInput('allowComments', 'required')" class="text-danger">{{'customForm.fieldRequired'|translate}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='number'</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.commentCount'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" required="" name="commentCount" ng-pattern="/^[0-9]+$/" ng-model="eventPost.commentCount" class="form-control" />
                                    <span ng-show="validateInput('commentCount', 'pattern')" class="text-danger">{{'customForm.validationOnlyDigits'|translate}}</span>
                                    <span ng-show="validateInput('commentCount', 'required')" class="text-danger">{{'customForm.fieldRequired'|translate}}</span>
                                </div>
                            </div>
                        </fieldset>     

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.tags'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="tags" ng-model="eventPost.tags" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.fieldNotRequired'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div ng-controller="DatepickerDemoCtrl" class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.startDateUtc'|translate}}</label>
                                <div class="col-sm-6">
                                    <p class="input-group">
                                        <input type="text" name="startDateUtc" datepicker-popup="{{format}}" ng-model="eventPost.startDateUtc" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" " close-text="Close" class="form-control" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="open($event)" class="btn btn-default">
                                                <em class="fa fa-calendar"></em>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">Value: {{eventPost.startDateUtc}}</small>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset>
                            <div ng-controller="DatepickerDemoCtrl" class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.endDateUtc'|translate}}</label>
                                <div class="col-sm-6">
                                    <p class="input-group">
                                        <input type="text" name="endDateUtc" datepicker-popup="{{format}}" ng-model="eventPost.endDateUtc" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" " close-text="Close" class="form-control" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="open($event)" class="btn btn-default">
                                                <em class="fa fa-calendar"></em>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">Value: {{eventPost.endDateUtc}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.metaKeywords'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="metaKeywords" ng-model="eventPost.metaKeywords" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.fieldNotRequired'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.metaDescription'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="metaDescription" ng-model="eventPost.metaDescription" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.fieldNotRequired'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.metaTitle'|translate}}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="metaTitle" ng-model="eventPost.metaTitle" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">{{'customForm.fieldNotRequired'|translate}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.limitedToStores'|translate}}</label>
                                <div class="col-sm-6">
                                    <select name="limitedToStores" ng-model="eventPost.limitedToStores" class="form-control">
                                        <option value="true">{{'customForm.yes'|translate}}</option>
                                        <option value="false">{{'customForm.no'|translate}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='number'</small>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div ng-controller="DatepickerDemoCtrl" class="form-group">
                                <label class="col-sm-2 control-label">{{'customForm.createdOnUtc'|translate}}</label>
                                <div class="col-sm-6">
                                    <p class="input-group">
                                        <input type="text" name="createdOnUtc" datepicker-popup="{{format}}" ng-model="eventPost.createdOnUtc" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" " close-text="Close" class="form-control" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="open($event)" class="btn btn-default">
                                                <em class="fa fa-calendar"></em>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">Value: {{eventPost.createdOnUtc}}</small>
                                </div>
                            </div>
                        </fieldset>

                        <div class="panel-footer text-center">
                            <button type="submit" class="btn btn-info">{{'customForm.save'|translate}}</button>
                        </div>
                    </div>
                    <!-- END panel-->
            </form>
        </div>
    </div>
    <!-- END row-->

</div>