<div class="header-search company-profile-height">

    <div class="company-heading-view">
        <div class="container">
            <div id="sliderButtons" class="button-content">
                <button class="general-view-btn active"><i class="fa fa-newspaper-o"></i><span>General</span></button>
                <button class="map-view-btn"><i class="fa fa-map-marker"></i><span>Map</span></button>
                <button class="male-view-btn"><i class="fa fa-male"></i><span>Street</span></button>
            </div>
        </div>

        <div class="company-slider-content">

            <div class="general-view">
                <span></span> <!-- for dark-overlay on the bg -->
                <div class="container">

                    <div class="logo-image">
                        <img src="img/content/company-logo.jpg" alt="">
                    </div>

                    <h1>Company name</h1>
                </div>
            </div> <!-- END .general-view -->

            <div class="company-map-view">
                <div id="company_map_canvas"></div>
            </div> <!-- END .company-map-view -->

            <div class="company-map-street">
                <div id="company_map_canvas_street"></div>
            </div> <!-- END .company-map-view-street -->

        </div> <!-- END .company-slider-content -->

    </div> <!-- END .about-us-heading -->

</div> 

