@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="page-content">
            <div class="contact-us">
                <div class="row">
                    <div class="col-md-6">
                        <h3><strong>Our</strong> Hq</h3>

                        <div class="contacy-us-map-section">
                            <div id="contact_map_canvas">

                            </div>
                        </div> <!-- end .map-section -->

                        <div class="row">
                            <div class="col-sm-6">
                                <h5>Address Details</h5>

                                <div class="address-details clearfix">
                                    <i class="fa fa-map-marker"></i>

                                    <p>
                                        <span>1234 Hyde Street</span>
                                        <span>San Francisco</span>
                                        <span>CA 94043</span>
                                    </p>
                                </div>

                                <div class="address-details clearfix">
                                    <i class="fa fa-phone"></i>

                                    <p>
                                        <span><strong>Phone:</strong> +1 123-456-7890</span>
                                        <span><strong>Fax:</strong> +1 123-456-7891</span>
                                    </p>
                                </div>

                                <div class="address-details clearfix">
                                    <i class="fa fa-envelope-o"></i>

                                    <p>
                                        <span><strong>E-mail:</strong> example@example.com</span>
                                        <span><span><strong>Website:</strong> www.example.com</span></span>
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <h5>Openig Hours</h5>

                                <div class="address-details clearfix">
                                    <i class="fa fa-clock-o"></i>

                                    <p>
                                        <span><strong>Mo-Fri:</strong> 9AM - 5PM</span>
                                        <span><span><strong>Saturday:</strong> 10AM - 2PM</span></span>
                                        <span><strong>Sunday:</strong> Closed</span>
                                    </p>
                                </div>

                            </div>
                        </div> <!-- end .nasted row -->

                    </div> <!-- end main grid layout -->

                    <div class="col-md-6">
                        <h3><strong>Message</strong> Us</h3>

                        <div class="contact-form">
                            <form action="" class="comment-form" id="contactform" name="contactform" novalidate>

                                <input type="text" name="FullName" id="FullName" placeholder="Name">

                                <input type="email" name="Email" id="Email" placeholder="Email">

                                <input type="text" name="SiteUrl" id="SiteUrl" placeholder="Website">

                                <input type="text" name="Title" id="Title" placeholder="Subject">

                                <textarea placeholder="How Can We Help You?" name="Body" id="Body"></textarea>

                                <input type="button" id="aSubmit" class="btn btn-default fa fa-envelope-o" value="Send Message">

                            </form>
                            <label id="message"></label>

                        </div> <!-- end .contact-form -->

                    </div> <!-- end main grid layout -->
                </div> <!-- end .row -->

            </div> <!-- end .about-us -->
        </div> <!-- end .page-content -->
    </div> <!-- end .container -->

<script type="text/javascript">
    // gmap for street view

       $("#contact_map_canvas").goMap({
           maptype: 'ROADMAP',
           zoom: 15,
           scrollwheel: true,
           markers: [{
               latitude:-34.434343434343,
               longitude: -54.54545454545,
               html: 'Name'
           }]
       });
       var aSubmit = $("#aSubmit");
       var loginform = $("#contactform");

       aSubmit.on("click", function () {

           aSubmit.attr('disabled', true);

           var serializedForm = loginform.serialize();

           $.ajax({
               url: '/ContactUs/SendMessage',
               data: serializedForm,
               type: 'POST',
               header: { "Content-Type": "application/json" },
               success: function (result) {
                   if (result != undefined) {
                       $('#FullName').val("");
                       $('#Email').val("");
                       $('#SiteUrl').val("");
                       $('#Email').val("");
                       $('#Title').val("");
                       $('#Body').val("");
                       $('#message').html("Message has been sent, we will contact you soon");
                   }
               },
               error: function (err) {
                   alert(data.message);
               }
           });

           event.preventDefault();
       });
</script>
